body {
    background-image: url('data/bgImage.jpg');
    color: white;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}
.container {
    width: 1000px;
}

table {
    color: wheat !important;
}

.alignCenter {
    text-align: center;
    display: block;
    margin: auto;
}